**/build
**/.gradle
**/*.log
**/.classpath
**/.project
.metadata
.settings
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
**/.codetogether.ignore
**/.vscode
**/.svn
**/.settings
**/ignite_work

# Terraform / OpenTofu
.terraform*
*.tfstate
*.tfstate.backup

# Ignite work directories get created all over the place.
**/ignite_work

# Database overrides
**/resources/db_override.conf
**/resources/*overrides.conf

# External tool builders
.externalToolBuilders/

# Something to do with Java EE
RemoteSystemsTempFiles/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/
.apt_generated_test/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

# Uncomment this line if you wish to ignore the project description file.
# Typically, this file would be tracked if it contains build/dependency configurations:
.project
